.header{
display: flex;
justify-content: space-between;
width: 40%;
flex-direction: row
}
.login{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
a:visited{
  color:black;
}
a{
  text-decoration: none;
}
.wrapper{
  
}
.input{
 justify-content: center;
  
}
textarea{
 
}
.input{
  display:none
}